.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-count: auto;
    grid-auto-rows: minmax(100px, auto);
}

.buttons-flex{
    margin: auto;
    width: 75%;
    display: grid;
    grid-template-columns: minmax(100px, 300px);
    grid-template-columns: repeat(3, 1fr);
    align-self: center;
    /* border: 1px blue solid; */
}

button{
    min-width: 200px;
    width: max-content;
    background: #ed008c;
    color: white;
    font-size: 1.2em;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px auto;
    box-shadow: 3px 2px 2px grey;
    border: hidden;
}

button:hover{
    background: #6e0040;
}

.row{
    display: flex;
    align-content: center;
    align-items: center;
    padding: 2.5%;
    margin: auto;
    border: 1px solid grey;
    box-shadow: 2px 5px 2px grey;
}

input{
    margin-right: 10px;
}

h1{
    text-align: center;
}